<div class="container">
  <div class="row align-items-center">
    <div class="col">
      Procrastination is the practice of delaying or postponing duties or
      actions, frequently to the point of discomfort or unfavorable outcomes. It
      is a typical behavior that can impact people of all ages and be brought on
      by several things, including a fear of failure, a lack of enthusiasm, or
      ineffective time management. Missed deadlines, increased stress, and other
      undesirable results are all consequences of procrastination.
    </div>
    <div class="col d-flex justify-content-center">
      <img [src]="procrastinate" class="card-img-top" alt="Procrastinate" />
    </div>
  </div>
</div>
