<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="
      d-flex
      justify-content-center justify-content-lg-between
      p-4
      border-bottom
    "></section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>References
                    </h6>
                    <p>
                        Cherry, K. (2022). Procrastination: Why we do it and how to stop.
                        Verywell Mind.
                        https://www.verywellmind.com/the-psychology-of-procrastination-2795944
                    </p>
                    <p>
                        Hidalgo-Andrade, J., Maldonado-Miranda, J. J., & Cerezo-Costas, R.
                        (2021). Impact of confinement due to COVID-19 on procrastination: A
                        comparative study in Spain, Mexico, and Ecuador. Frontiers in
                        Psychology, 12, 679427. https://doi.org/10.3389/fpsyg.2021.679427
                    </p>
                    <p>
                        Büttner, O. B., & Sümer, N. (2019). Why do people procrastinate
                        online? An investigation of the main causes of online
                        procrastination. Computers in Human Behavior, 97, 35-42.
                        https://doi.org/10.1016/j.chb.2019.03.002
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4"></h6>
                    <p>
                        Prem, R., Kubendran, C., & Sundaram, C. (2018). Procrastination: A
                        literature review. Journal of Human Behavior in the Social
                        Environment, 28(6), 790-799.
                        https://doi.org/10.1080/10911359.2017.1419608
                    </p>
                    <p>
                        Aaron Jay Ramales Wong, A. (2023, January 12). Students suffer at
                        the hands of time: the root of procrastination in high school.
                        Retrieved from thedispatchonline:
                        https://thedispatchonline.net/17272/indepth/students-suffer-at-the-hands-of-time-the-root-of-procrastination-in-high-school/#modal-photo
                    </p>
                    <p>
                        Asikainen , H., Katajavuori, N., & Hailikari, T. (2021, March 22).
                        Understanding procrastination: A case of a study skills course.
                        Retrieved from SpringerLink:
                        https://link.springer.com/article/10.1007/s11218-021-09621-2
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p>
                        <a href="#!" class="text-reset">Angular</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Developers</h6>
                    <p>Odvina, Kyla Marie</p>
                    <p>Ramales, Aaron Jay</p>
                    <p>Salalila, Raskin Charles</p>
                    <p>Sicat, Lance Angelo</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
</footer>