<div class="container">
    <div class="par">
        <p>
            Procrastination is a common behavior that can be understood by examining
            the reasons behind it. Understanding the reasons behind procrastination
            can help individuals develop strategies to overcome it. Some strategies
            include breaking tasks into smaller, more manageable pieces, setting
            deadlines and schedules, minimizing distractions, and seeking support from
            others. Take the test and discover how much of a procrastinator you are.
        </p>
    </div>

    <div class="button">
        <button (click)="goToForm()" mat-raised-button class="shadow-lg p-3 mb-5 bg-body-tertiary rounded">
            Take the Test!
        </button>
    </div>
</div>